In [1]:
import numpy as np
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
user = pd.read_csv(r"user.csv")
movies = pd.read_csv(r"movies.csv")

In [4]:
user.head()

   user_id  item_id  rating  timestamp
0        0       50       5  881250949
1        0      172       5  881250949
2        0      133       1  881250949
3      196      242       3  881250949
4      186      302       3  891717742

In [5]:
movies.head()

   item_id              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [6]:
user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100003 entries, 0 to 100002
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    100003 non-null  int64
 1   item_id    100003 non-null  int64
 2   rating     100003 non-null  int64
 3   timestamp  100003 non-null  int64
dtypes: int64(4)
memory usage: 3.1 MB

In [7]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1682 entries, 0 to 1681
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   item_id  1682 non-null   int64
 1   title    1682 non-null   object
dtypes: int64(1), object(1)
memory usage: 26.4+ KB

In [8]:
df = user.merge(movies)

In [9]:
df.drop("timestamp", axis=1, inplace=True)

In [10]:
df.head()

   user_id  item_id  rating                            title
0        0       50       5                 Star Wars (1977)
1        0      172       5  Empire Strikes Back, The (1980)
2        0      133       1        Gone with the Wind (1939)
3      196      242       3                     Kolya (1996)
4      186      302       3         L.A. Confidential (1997)

In [11]:
df.groupby("title")["rating"].mean().sort_values(ascending=False)

title
Aiqing wansui (1994)                                 5.0
Entertaining Angels: The Dorothy Day Story (1996)    5.0
Santa with Muscles (1996)                            5.0
Prefontaine (1997)                                   5.0
They Made Me a Criminal (1939)                       5.0
                                                    ...
Pharaoh's Army (1995)                                1.0
August (1996)                                        1.0
Babyfever (1994)                                     1.0
Amityville: A New Generation (1993)                  1.0
Woman in Question, The (1950)                        1.0
Name: rating, Length: 1664, dtype: float64

In [12]:
dummy = (df["title"].value_counts()>100).reset_index()

In [13]:
dummy

                                           title  count
0                               Star Wars (1977)   True
1                                 Contact (1997)   True
2                                   Fargo (1996)   True
3                      Return of the Jedi (1983)   True
4                               Liar Liar (1997)   True
...                                          ...    ...
1659                      Eighth Day, The (1996)  False
1660                           Mamma Roma (1962)  False
1661   Scream of Stone (Schrei aus Stein) (1991)  False
1662             Getting Away With Murder (1996)  False
1663  Nobody Loves Me (Keiner liebt mich) (1994)  False

[1664 rows x 2 columns]

In [14]:
df = df[df["title"].isin(dummy[dummy["count"]==True]["title"])]

In [15]:
df.reset_index(inplace=True, drop=True)

In [16]:
df["title"].value_counts()

title
Star Wars (1977)                   584
Contact (1997)                     509
Fargo (1996)                       508
Return of the Jedi (1983)          507
Liar Liar (1997)                   485
                                  ...
Young Guns (1988)                  101
Sex, Lies, and Videotape (1989)    101
Pinocchio (1940)                   101
Miracle on 34th Street (1994)      101
Mimic (1997)                       101
Name: count, Length: 334, dtype: int64

In [17]:
df.groupby("title")["rating"].mean().sort_values(ascending=False)

title
Close Shave, A (1995)               4.491071
Schindler's List (1993)             4.466443
Wrong Trousers, The (1993)          4.466102
Casablanca (1942)                   4.456790
Shawshank Redemption, The (1994)    4.445230
                                      ...
Spawn (1997)                        2.615385
Event Horizon (1997)                2.574803
Crash (1996)                        2.546875
Jungle2Jungle (1997)                2.439394
Cable Guy, The (1996)               2.339623
Name: rating, Length: 334, dtype: float64

In [18]:
df

       user_id  item_id  rating                            title
0            0       50       5                 Star Wars (1977)
1            0      172       5  Empire Strikes Back, The (1980)
2            0      133       1        Gone with the Wind (1939)
3          196      242       3                     Kolya (1996)
4          186      302       3         L.A. Confidential (1997)
...        ...      ...     ...                              ...
64606      913      209       2        This Is Spinal Tap (1984)
64607      880      476       3     First Wives Club, The (1996)
64608      716      204       5        Back to the Future (1985)
64609       13      225       2            101 Dalmatians (1996)
64610       12      203       3                Unforgiven (1992)

[64611 rows x 4 columns]

In [19]:
user_matrix = pd.pivot_table(df, columns="user_id", index="title", values="rating", fill_value=0)

In [20]:
user_corr = user_matrix.corr()

In [21]:
user_corr[0].sort_values(ascending=False).head(6).tail()

user_id
369    0.436268
51     0.381308
563    0.360060
723    0.349776
182    0.341624
Name: 0, dtype: float64

In [22]:
movie_matrix = pd.pivot_table(df, index="user_id", columns="title", values="rating", fill_value=0)

In [23]:
movie_matrix

title,101 Dalmatians (1996),12 Angry Men (1957),2001: A Space Odyssey (1968),Absolute Power (1997),"Abyss, The (1989)",Ace Ventura: Pet Detective (1994),"Adventures of Priscilla, Queen of the Desert, The (1994)","African Queen, The (1951)",Air Force One (1997),Aladdin (1992),...,Welcome to the Dollhouse (1995),What's Eating Gilbert Grape (1993),When Harry Met Sally... (1989),While You Were Sleeping (1995),William Shakespeare's Romeo and Juliet (1996),Willy Wonka and the Chocolate Factory (1971),"Wizard of Oz, The (1939)","Wrong Trousers, The (1993)",Young Frankenstein (1974),Young Guns (1988)
user_id,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.0,5.0,4.0,0.0,3.0,3.0,0.0,0.0,0.0,4.0,...,5.0,4.0,5.0,4.0,0.0,4.0,4.0,5.0,5.0,3.0
2,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,0.0,2.0,0.0,3.0,0.0,5.0,5.0,...,0.0,0.0,4.0,4.0,0.0,3.0,0.0,0.0,0.0,0.0
941,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,3.0,0.0,0.0,0.0,0.0,5.0,5.0,5.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,4.0,0.0,2.0,4.0,3.0,0.0,0.0,4.0

In [24]:
movies_corr = movie_matrix.corr()

In [25]:
movies_corr

title,101 Dalmatians (1996),12 Angry Men (1957),2001: A Space Odyssey (1968),Absolute Power (1997),"Abyss, The (1989)",Ace Ventura: Pet Detective (1994),"Adventures of Priscilla, Queen of the Desert, The (1994)","African Queen, The (1951)",Air Force One (1997),Aladdin (1992),...,Welcome to the Dollhouse (1995),What's Eating Gilbert Grape (1993),When Harry Met Sally... (1989),While You Were Sleeping (1995),William Shakespeare's Romeo and Juliet (1996),Willy Wonka and the Chocolate Factory (1971),"Wizard of Oz, The (1939)","Wrong Trousers, The (1993)",Young Frankenstein (1974),Young Guns (1988)
title,,,,,,,,,,,,,,,,,,,,,
101 Dalmatians (1996),1.000000,0.059375,0.078451,0.221130,0.121285,0.139528,0.050001,0.035496,-0.019539,0.270790,...,0.013468,0.066371,0.154508,0.147774,0.054002,0.311255,0.124808,0.074758,0.155599,0.115300
12 Angry Men (1957),0.059375,1.000000,0.298878,0.019941,0.156865,0.133561,0.166552,0.334520,-0.092575,0.180380,...,0.070451,0.172270,0.306059,0.178179,0.106180,0.115326,0.287940,0.170314,0.290332,0.165072
2001: A Space Odyssey (1968),0.078451,0.298878,1.000000,0.038087,0.264959,0.152161,0.220209,0.424876,-0.116048,0.313925,...,0.088662,0.278408,0.398991,0.184501,0.229041,0.238804,0.475098,0.262839,0.429475,0.168606
Absolute Power (1997),0.221130,0.019941,0.038087,1.000000,0.142961,0.141678,0.084612,0.044810,0.100275,0.169417,...,0.063733,0.074297,0.120691,0.128749,0.053843,0.203032,0.099469,0.038708,0.100284,0.136724
"Abyss, The (1989)",0.121285,0.156865,0.264959,0.142961,1.000000,0.262477,0.178875,0.239053,-0.041637,0.327824,...,0.128638,0.197370,0.269361,0.262960,0.249810,0.250272,0.292867,0.147161,0.205142,0.311095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Willy Wonka and the Chocolate Factory (1971),0.311255,0.115326,0.238804,0.203032,0.250272,0.213095,0.157996,0.191931,-0.091412,0.332164,...,0.236653,0.214564,0.278194,0.196430,0.213751,1.000000,0.304920,0.184869,0.297173,0.207439
"Wizard of Oz, The (1939)",0.124808,0.287940,0.475098,0.099469,0.292867,0.254391,0.271337,0.463788,-0.112362,0.397361,...,0.080285,0.339209,0.417209,0.271858,0.275599,0.304920,1.000000,0.198414,0.444793,0.244236
"Wrong Trousers, The (1993)",0.074758,0.170314,0.262839,0.038708,0.147161,0.135630,0.224635,0.166543,-0.125319,0.254779,...,0.097428,0.164062,0.200230,0.161209,0.153841,0.184869,0.198414,1.000000,0.313518,0.090719
Young Frankenstein (1974),0.155599,0.290332,0.429475,0.100284,0.205142,0.330563,0.264801,0.364351,-0.126300,0.364407,...,0.127684,0.315871,0.422832,0.280778,0.163648,0.297173,0.444793,0.313518,1.000000,0.294684
Young Guns (1988),0.115300,0.165072,0.168606,0.136724,0.311095,0.453880,0.117871,0.097969,-0.014424,0.317573,...,0.083045,0.235310,0.298344,0.314256,0.243828,0.207439,0.244236,0.090719,0.294684,1.000000

In [26]:
movies_corr["Absolute Power (1997)"].sort_values(ascending=False).head(6).tail()

title
Ransom (1996)                    0.415015
Broken Arrow (1996)              0.404915
Executive Decision (1996)        0.395066
Independence Day (ID4) (1996)    0.369910
Rock, The (1996)                 0.348154
Name: Absolute Power (1997), dtype: float64

In [27]:
movies_corr["Star Wars (1977)"].sort_values(ascending=False).head(6).tail()

title
Return of the Jedi (1983)                    0.746797
Empire Strikes Back, The (1980)              0.555233
Raiders of the Lost Ark (1981)               0.540455
Indiana Jones and the Last Crusade (1989)    0.467523
Toy Story (1995)                             0.456219
Name: Star Wars (1977), dtype: float64